{
  "env": {
    "commonjs": true,
    "es2020": true,
    "node": true
  },
  "extends": ["prettier", "airbnb-base"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "consistent-return": "off",
    "object-curly-newline": "off",
    "import/extensions": "off",
    "no-underscore-dangle": "off",
    // "array-callback-return": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2
      }
    ]
  }
}
