{
  "env": {
    "commonjs": true,
    "es2020": true,
    "node": true
  },
  "extends": ["prettier", "airbnb-base"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "no-console": "off",
    "comma-dangle": "off",
    "consistent-return": "off",
    "object-curly-newline": "off"
    // "array-callback-return": "off",
  }
}
